#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_51 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_52 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-dot-blue_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-dot-blue_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}