#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Header-top_1 {
  position: absolute;
  width: 414px;
  height: 64px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_23 {
  position: absolute;
  width: 414px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_23 span#rtr-s-Rich_text_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_87 {
  position: absolute;
  width: 180px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Statusbar-white_8 {
  position: absolute;
  width: 414px;
  height: 20px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_19 {
  position: absolute;
  width: 414px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_41 {
  position: absolute;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_41 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_41 span#rtr-s-Label_41_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Group_21 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_48 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_48 .content {
  width: 6px;
  height: 6px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_48 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_48 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_48 span#rtr-s-Ellipse_48_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_49 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_49 .content {
  width: 6px;
  height: 6px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_49 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_49 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_49 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_49 span#rtr-s-Ellipse_49_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_50 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_50 .content {
  width: 6px;
  height: 6px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_50 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_50 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_50 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_50 span#rtr-s-Ellipse_50_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_51 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_51 .content {
  width: 6px;
  height: 6px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_51 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_51 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_51 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_51 span#rtr-s-Ellipse_51_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_52 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_52 .content {
  width: 6px;
  height: 6px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Ellipse_52 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_52 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-Ellipse_52 span#rtr-s-Ellipse_52_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_63 {
  position: absolute;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_63 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_63 span#rtr-s-Label_63_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_53 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_54 > svg {
  width: 14px;
  height: 14px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_54 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_55 > svg {
  width: 18px;
  height: 18px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_55 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Tabs3-text-bar {
  position: absolute;
  width: 414px;
  height: 52px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_1 {
  position: absolute;
  width: 414px;
  height: 51px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Tabs-3-text_1 {
  position: absolute;
  width: 390px;
  height: 29px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_15 {
  position: absolute;
  width: 126px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_15 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_15 span#rtr-s-Label_15_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_16 {
  position: absolute;
  width: 126px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_16 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_16 span#rtr-s-Label_16_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_17 {
  position: absolute;
  width: 134px;
  height: 27px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_17 span#rtr-s-Label_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_33 > svg {
  width: 77px;
  height: 76px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_33 {
  position: absolute;
  width: 77px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-email_list-anim_1 {
  position: absolute;
  width: 649px;
  height: 122px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-email_list_animated_1 {
  position: absolute;
  width: 414px;
  height: 122px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_49 {
  position: absolute;
  padding-left: 15px;
  width: 399px;
  height: 122px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_49 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_49 span#rtr-s-Rich_text_49_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Line_23 {
  position: absolute;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-dot-blue_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-dot-blue_2 .content {
  width: 14px;
  height: 14px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-dot-blue_2 {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-dot-blue_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-dot-blue_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-dot-blue_2 span#rtr-s-dot-blue_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_6 {
  position: absolute;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 290px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_9 {
  position: absolute;
  width: 257px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_9 span#rtr-s-Rich_text_9_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-button-back_8 {
  position: absolute;
  width: 91px;
  height: 26px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_79 {
  position: absolute;
  width: 70px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_79 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_79 span {
  color: #A9A9A9;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_79 span#rtr-s-Label_79_0 {
  color: #A9A9A9;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_16 > svg {
  width: 15px;
  height: 15px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_16 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Group_3 {
  position: absolute;
  width: 235px;
  height: 122px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_5 {
  position: absolute;
  width: 79px;
  height: 122px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_6 {
  position: absolute;
  width: 79px;
  height: 122px;
  background-color: #FF9900;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_7 {
  position: absolute;
  width: 79px;
  height: 122px;
  background-color: #2D6B9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Hotspot_1 {
  position: absolute;
  width: 235px;
  height: 122px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-email_list-anim {
  position: absolute;
  width: 649px;
  height: 122px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-email_list_animated {
  position: absolute;
  width: 414px;
  height: 122px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_48 {
  position: absolute;
  padding-left: 15px;
  width: 399px;
  height: 122px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_48 span#rtr-s-Rich_text_48_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Line_22 {
  position: absolute;
  width: 397px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-dot-blue_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-dot-blue_1 .content {
  width: 14px;
  height: 14px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-dot-blue_1 {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-dot-blue_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-dot-blue_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #shapewrapper-s-dot-blue_1 span#rtr-s-dot-blue_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_5 {
  position: absolute;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 290px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_8 {
  position: absolute;
  width: 257px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rich_text_8 span#rtr-s-Rich_text_8_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-button-back_7 {
  position: absolute;
  width: 91px;
  height: 26px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_78 {
  position: absolute;
  width: 70px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_78 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_78 span {
  color: #A9A9A9;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Label_78 span#rtr-s-Label_78_0 {
  color: #A9A9A9;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_15 > svg {
  width: 15px;
  height: 15px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_15 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Group_2 {
  position: absolute;
  width: 235px;
  height: 122px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_2 {
  position: absolute;
  width: 79px;
  height: 122px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_3 {
  position: absolute;
  width: 79px;
  height: 122px;
  background-color: #FF9900;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_4 {
  position: absolute;
  width: 79px;
  height: 122px;
  background-color: #2D6B9E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Hotspot {
  position: absolute;
  width: 235px;
  height: 122px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_1 > svg {
  width: 28px;
  height: 28px;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d #s-Image_1 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0b2c55d9-4cf6-4101-8509-994ff28dab3d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}