#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Header-top_1 {
  position: absolute;
  width: 414px;
  height: 64px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rich_text_23 {
  position: absolute;
  width: 414px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rich_text_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rich_text_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rich_text_23 span#rtr-s-Rich_text_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_87 {
  position: absolute;
  width: 180px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Statusbar-white_8 {
  position: absolute;
  width: 414px;
  height: 20px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_19 {
  position: absolute;
  width: 414px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_41 {
  position: absolute;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_41 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_41 span#rtr-s-Label_41_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Group_21 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_48 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_48 .content {
  width: 6px;
  height: 6px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_48 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_48 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_48 span#rtr-s-Ellipse_48_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_49 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_49 .content {
  width: 6px;
  height: 6px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_49 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_49 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_49 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_49 span#rtr-s-Ellipse_49_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_50 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_50 .content {
  width: 6px;
  height: 6px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_50 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_50 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_50 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_50 span#rtr-s-Ellipse_50_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_51 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_51 .content {
  width: 6px;
  height: 6px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_51 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_51 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_51 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_51 span#rtr-s-Ellipse_51_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_52 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_52 .content {
  width: 6px;
  height: 6px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_52 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_52 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #shapewrapper-s-Ellipse_52 span#rtr-s-Ellipse_52_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_63 {
  position: absolute;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_63 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_63 span#rtr-s-Label_63_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Image_53 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Image_54 > svg {
  width: 14px;
  height: 14px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Image_54 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Image_55 > svg {
  width: 18px;
  height: 18px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Image_55 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Tabs3-text-bar {
  position: absolute;
  width: 414px;
  height: 52px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_1 {
  position: absolute;
  width: 414px;
  height: 51px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Tabs-3-text_1 {
  position: absolute;
  width: 390px;
  height: 29px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_15 {
  position: absolute;
  width: 126px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_15 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_15 span#rtr-s-Label_15_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_16 {
  position: absolute;
  width: 126px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_16 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_16 span#rtr-s-Label_16_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_17 {
  position: absolute;
  width: 134px;
  height: 27px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_17 span#rtr-s-Label_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}