#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rich_text_23 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_48 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_49 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_50 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_51 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Ellipse_52 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_63 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Rectangle_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 126px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  width: 126px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 #s-Label_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4f23fd61-a017-4ec0-838a-eb1e243a06b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}