#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4fc3c4de-2e6a-4d82-9412-d7ab38babd5e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}