#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-input-form {
  border-collapse: separate;
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Cell-header > .valign {
  vertical-align: middle;
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_199 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_202 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_203 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Mailboxes-Screen {
  border-collapse: separate;
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Cell-header_1 > .valign {
  vertical-align: middle;
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_23 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_48 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_49 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_50 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_51 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Ellipse_52 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_63 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Cell-center > .valign {
  vertical-align: top;
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-List-item-separator {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F9F9;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-dot-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_78 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-dot-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 #s-Cell-bottom > .valign {
  vertical-align: middle;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6a7b19ed-8150-4549-9ee8-859e81deecf1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}