#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Statusbar-white {
  position: absolute;
  width: 414px;
  height: 20px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_3 {
  position: absolute;
  width: 414px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_34 {
  position: absolute;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_34 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_34 span#rtr-s-Label_34_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Group_13 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_7 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_10 .content {
  width: 6px;
  height: 6px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_10 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_14 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_16 .content {
  width: 6px;
  height: 6px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_16 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_17 .content {
  width: 6px;
  height: 6px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_17 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_17 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_53 {
  position: absolute;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_20 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_35 > svg {
  width: 14px;
  height: 14px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_35 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_36 > svg {
  width: 18px;
  height: 18px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_36 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Tabs2-text-bar {
  position: absolute;
  width: 414px;
  height: 52px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle {
  position: absolute;
  width: 414px;
  height: 51px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Tabs-2-text {
  position: absolute;
  width: 220px;
  height: 29px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_20 {
  position: absolute;
  width: 109px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_20 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_20 span#rtr-s-Label_20_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_21 {
  position: absolute;
  width: 107px;
  height: 23px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_21 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_21 span#rtr-s-Label_21_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Camera-Screen {
  position: absolute;
  width: 414px;
  height: 666px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Background {
  position: absolute;
  width: 414px;
  height: 665px;
  background-color: #191919;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Background span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Background span#rtr-s-Background_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Header-base {
  position: absolute;
  width: 414px;
  height: 51px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Header-base .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Header-base span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Header-base span#rtr-s-Header-base_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Footer-base {
  position: absolute;
  width: 414px;
  height: 138px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Footer-base .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Footer-base span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Footer-base span#rtr-s-Footer-base_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label-Off {
  position: absolute;
  width: 66px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label-Off .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label-Off span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label-Off span#rtr-s-Label-Off_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rec-button {
  position: absolute;
  width: 63px;
  height: 63px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_274 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 63px;
  height: 63px;
  position: absolute;
  overflow: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_274 .content {
  width: 63px;
  height: 63px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_274 {
  position: absolute;
  width: 63px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_274 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_274 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_274 span#rtr-s-Ellipse_274_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_275 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 42px;
  height: 42px;
  position: absolute;
  overflow: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_275 .content {
  width: 42px;
  height: 42px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse_275 {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #DD3214;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_275 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_275 span {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse_275 span#rtr-s-Ellipse_275_0 {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Focus_1 {
  position: absolute;
  width: 84px;
  height: 84px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Focus_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Focus_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Focus_1 span#rtr-s-Focus_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_1 {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 11px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse .content {
  width: 11px;
  height: 10px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Ellipse {
  position: absolute;
  width: 11px;
  height: 10px;
  background-color: #FBD433;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #shapewrapper-s-Ellipse span#rtr-s-Ellipse_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-timelapse-label {
  position: absolute;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-timelapse-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-timelapse-label span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-timelapse-label span#rtr-s-timelapse-label_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Slomo-label {
  position: absolute;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Slomo-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Slomo-label span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Slomo-label span#rtr-s-Slomo-label_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Photo-label {
  position: absolute;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Photo-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Photo-label span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Photo-label span#rtr-s-Photo-label_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Square-label {
  position: absolute;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Square-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Square-label span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Square-label span#rtr-s-Square-label_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Video-label {
  position: absolute;
  width: 94px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Video-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Video-label span {
  color: #FBD433;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Video-label span#rtr-s-Video-label_0 {
  color: #FBD433;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-AE-AF-Lock_1 {
  position: absolute;
  width: 98px;
  height: 19px;
  background-color: #FBD433;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-AE-AF-Lock_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-AE-AF-Lock_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-AE-AF-Lock_1 span#rtr-s-AE-AF-Lock_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-num-rec-label {
  position: absolute;
  width: 66px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-num-rec-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-num-rec-label span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-num-rec-label span#rtr-s-num-rec-label_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_1 > svg {
  width: 22px;
  height: 22px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_1 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_2 > svg {
  width: 27px;
  height: 27px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Image_2 {
  position: absolute;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Tabs2-text-bar_1 {
  position: absolute;
  width: 414px;
  height: 52px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_2 {
  position: absolute;
  width: 414px;
  height: 51px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Tabs-2-text_1 {
  position: absolute;
  width: 220px;
  height: 29px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_22 {
  position: absolute;
  width: 109px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_22 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_22 span#rtr-s-Label_22_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_23 {
  position: absolute;
  width: 107px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_23 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_23 span#rtr-s-Label_23_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rich_text_9 {
  position: absolute;
  padding-top: 23px;
  width: 264px;
  height: 164px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rich_text_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Input_10 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Input_10 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Input_10 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Input_10 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Input_10 {
  position: absolute;
  padding-left: 5px;
  width: 232px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D3D6D6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D3D6D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D3D6D6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D3D6D6;
  box-shadow: none;
  text-shadow: none;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_24 {
  position: absolute;
  width: 135px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_24 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_24 span#rtr-s-Label_24_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_25 {
  position: absolute;
  width: 135px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_25 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d #s-Label_25 span#rtr-s-Label_25_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-95956fbf-b7a6-4b6d-b17f-87c7a654642d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}