#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_51 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_52 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-dot-blue_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-dot-blue_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_50 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-dot-blue_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_51 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-dot-blue_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}