#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_51 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Ellipse_52 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Line_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a8acf375-48ec-42e5-bb6e-35597d494863 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}