#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Empty-Screen {
  border-collapse: separate;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Cell-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-List-item-separator {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F9F9;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-dot-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_78 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-dot-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 197px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 191px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 23px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 264px;
  height: 164px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 23px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 264px;
  height: 164px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}