#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-List-item-separator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_48 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-dot-blue_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_49 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-dot-blue_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cdd2eea8-e21f-4394-bf56-298cc7b23233 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}