#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f36d6439-97ad-4832-9b08-4737d310aef4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}